<html lang="en" dir="ltr">
  <head>
    <link  rel='stylesheet' href="/css/style.css">
    <link rel='icon' href='/img/weather.png'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='main'>
      {{>header}}
      {{ errMessage }}
    </div>
    {{>footer}}
  </body>
</html>
