<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link  rel='stylesheet' href="/css/style.css">
    <link rel='icon' href='/img/weather.png'>
    <title></title>
  </head>
  <body>
    <div class='main'>
    {{>header}}
    <img class='portrait' src='/img/profilePic.jpg' alt="Me" width="10%"/>
    </div>
    {{>footer}}
  </body>
</html>
